{% extends 'layout.html' %}
{% block main %}
<br>
<br>
<br>

<div class="container-fluid">
	<div horizontal layout>
		<div>
			<i class="icon on-left">
	    	<img src="/static/img/rocketSmall.png" class="icon cycle ol-transparent"></i> 
    	</div>
    	<div>
    		<h3 class="text-info">6th Grade Physical Science - 6PS1</h3>
    		<small>Lawndale Middle School - 1st Period </small>
    	</div>
	</div>
</div>
<br>
<br>
<div class="container">
	<div horizontal layout>
		<div vertical layout>
			<div class="span4">
				<span><legend><p class="subheader text-success">Class Roster</p></legend></span>
			</div>
		</div>
		<div vertical layout class="span4 offset1">
			<div>
				<span><legend><p class="subheader-secondary text-warning">Short-Term Planning</p></legend></span>
				<dl>
				  <dt class="text-info tertiary-text">Recent Lessons</dt>
				  <dd class="text-muted tertiary-text-secondary"><strong>Magnetism </strong>- What is Magnetism?</dd>
				  <dd class="text-muted tertiary-text-secondary"><strong>Magnetism</strong> - Mangetic Poles</dd>
				  <dd class="text-muted tertiary-text-secondary"><strong>Magnetism</strong> - Magnetic Fields</dd>
				  <dd class="text-muted tertiary-text-secondary"><strong>Inside a Magnet</strong> - The Atom</dd>
				  <dd class="text-muted tertiary-text-secondary"><strong>Inside a Magnet</strong> - Magnetic Domains</dd>
				</dl>

				<dl>
				  <dt class="text-info tertiary-text">Upcoming Lessons</dt>
				  <dd class="text-muted tertiary-text-secondary"><strong>Magnetism </strong>- What is Magnetism?</dd>
				  <dd class="text-muted tertiary-text-secondary"><strong>Magnetism</strong> - Mangetic Poles</dd>
				  <dd class="text-muted tertiary-text-secondary"><strong>Magnetism</strong> - Magnetic Fields</dd>
				  <dd class="text-muted tertiary-text-secondary"><strong>Inside a Magnet</strong> - The Atom</dd>
				  <dd class="text-muted tertiary-text-secondary"><strong>Inside a Magnet</strong> - Magnetic Domains</dd>
				</dl>
				<br>
				<a href="/add_class" class="badge bg-indigo place-right shadow fg-white ol-transparent"><strong>+</strong> More</a>
				<br>
				<br>

			</div>

			<div>
				<span><legend><p class="subheader-secondary text-alert">Long-Term Planning</p></legend></span>

				<dl>
				  <dt class="text-info tertiary-text">Unit Planning</dt>
				  <dd class="text-muted tertiary-text-secondary"><strong>Magnetism </strong>- What is Magnetism?</dd>
				  <dd class="text-muted tertiary-text-secondary"><strong>Magnetism</strong> - Mangetic Poles</dd>
				  <dd class="text-muted tertiary-text-secondary"><strong>Magnetism</strong> - Magnetic Fields</dd>
				</dl>


				<dl>
				  <dt class="text-info tertiary-text">Unit Overview</dt>
				  <dd class="text-muted tertiary-text-secondary"><strong>Magnetism </strong>- What is Magnetism?</dd>
				  <dd class="text-muted tertiary-text-secondary"><strong>Magnetism</strong> - Mangetic Poles</dd>
				  <dd class="text-muted tertiary-text-secondary"><strong>Magnetism</strong> - Magnetic Fields</dd>
				</dl>
				<br>
				<a href="/add_class" class="badge bg-indigo place-right shadow fg-white ol-transparent"><strong>+</strong> More</a>
				<br>
				<br>
			</div>

			<div>
				<span><legend><p class="subheader-secondary text-info">Standards</p></legend></span>
			</div>
		</div>
		<div vertical layout>
			<div class="span2 offset1">
				<br>
				<br>
				<div>
					<div class="calendar small" data-role="calendar" data-locale="en"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
<div class="container">
	<div class="span12">
				<span><legend><p class="subheader text-success">Teacher Toolbox</p></legend></span>
			</div>
	<div horizontal>
		<div class="tile ribbed-teal">
			 <div class="tile-content icon">
        <i class=""><img src="/static/img/contactslg.png" class=" ol-cyan"></i>
        <div class="tile-status">
        <span class="item-title fg-white"><p class="text-center fg-white item-title">Grade Book</p></span>
    </div>
    </div>
			            
	
		</div>
		<div class="tile double ribbed-darkOrange">
			<div class="title-content icon">
				<div class="tile-status">
			        <span class="item-title fg-white"><p class="text-center fg-white item-title"> Lesson Resources & Materials</p></span>
			    </div>
				<i class=""><img src="/static/img/bookshelf.png" class="icon"></i>
			</div>
		</div>

	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}