{% extends 'layout.html' %}
{% block main %}
<br>
<br>
<br>
<div class="container">
	<div horizontal layout>
	  <div class="span8"><p class="header text-info">Student Profile</p></div>
	</div>
<br>
<br>
<br>
<br>
<br>
<div class="col-md-8 col-xs-12">
	<div horizontal layout>
		<div vertical layout>
			<div horizontal layout>
    			<div> 
    				<h3 class="subheader text-alert">Lessons</h3>
    				<div class=" col-xs-12 lessonTile  shadow">
    					
    				</div>
    			</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div horizontal layout>
		<div vertical layout>
			<div horizontal layout>
    			<div> 
    				<h3 class="subheader text-alert">Excercises</h3>
    				<div class=" col-xs-12 lessonTile  shadow">
    					
    				</div>
    			</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}